//
// DefaultAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation
import Alamofire


open class DefaultAPI {
    /**
     Checkout web version of the app

     - parameter body: (body) Checkout web version of the app 
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func vehicleDiaryAppPost(body: VEvent, completion: @escaping ((_ data: Void?,_ error: Error?) -> Void)) {
        vehicleDiaryAppPostWithRequestBuilder(body: body).execute { (response, error) -> Void in
            if error == nil {
                completion((), error)
            } else {
                completion(nil, error)
            }
        }
    }


    /**
     Checkout web version of the app
     - POST /vehicleDiary/app
     - 

     - parameter body: (body) Checkout web version of the app 

     - returns: RequestBuilder<Void> 
     */
    open class func vehicleDiaryAppPostWithRequestBuilder(body: VEvent) -> RequestBuilder<Void> {
        let path = "/vehicleDiary/app"
        let URLString = SwaggerClientAPI.basePath + path
        let parameters = JSONEncodingHelper.encodingParameters(forEncodableObject: body)
        let url = URLComponents(string: URLString)


        let requestBuilder: RequestBuilder<Void>.Type = SwaggerClientAPI.requestBuilderFactory.getNonDecodableBuilder()

        return requestBuilder.init(method: "POST", URLString: (url?.string ?? URLString), parameters: parameters, isBody: true)
    }
}
